/* 📌 검색바 */
.search-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 80px; /* 헤더 바로 아래 */
  left: 0;
  background-color: rgb(255, 255, 255);
  padding: 10px 0;
  z-index: 900;
  height: 60px; /* 고정 높이 설정 */
}

/* ✅ 검색창과 리스트가 겹치지 않도록 여백 추가 */
.movie-container {
  padding: 20px;
  margin-top: 220px; /* 헤더(72px) + 서치바(60px) + 플랫폼필터(88px) */
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 600px;
}

.search-input {
  flex: 1;
  padding: 12px 15px;
  border: 3px solid rgb(53, 58, 102);
  border-radius: 25px;
  font-size: 16px;
  background-color: white; /* ✅ 검색창 배경 */
  color: black;
  text-align: center;
  outline: none;
}

.search-btn {
  background-color: rgb(255, 131, 131);
  color: black;
  padding: 12px 15px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px;
  font-size: 16px;
}

.search-btn:hover {
  background-color: rgb(222, 102, 102);
}
