/* src/styles/TopMovies.module.css */
.container {
  margin-top: 120px; /* mt-6 */
  margin-left: 100px;
}

.container1 {
  margin-top: 1.5rem; /* mt-6 */
  margin-left: 0px;
}

.title {
  font-size: 1.5rem; /* text-2xl */
  font-weight: bold; /* font-bold */
  margin-bottom: 1rem; /* mb-4 */
}

.movieCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem; /* rounded-xl */
  padding: 1rem; /* p-4 */
  min-width: 200px; /* min-w-[200px] */

  color: rgb(255, 153, 0);
}

.movieCard:hover {
  transform: scale(1.05); /* 카드 크기 확대 */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
  cursor: pointer; /* 마우스 커서를 포인터로 변경 */
}

.movieCard p {
  font-weight: bold;
}

.movieImage {
  width: 8rem; /* w-32 */
  height: 12rem; /* h-48 */
  object-fit: cover; /* object-cover */
  border-radius: 0.5rem; /* rounded-lg */
  margin-bottom: 0.5rem; /* mb-2 */
}

.movieTitle {
  font-size: 1.125rem; /* text-lg */
  font-weight: 500; /* font-medium */
  text-align: center; /* text-center */
}
